<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bsdlzg.blog.mapper.CommentMapper">

    <select id="selectPageList" resultType="com.bsdlzg.blog.vo.SystemCommentVO">
        SELECT
        c.id,
        au.avatar,
        au.nickname,
        IF(rau.nickname is null,'无',rau.nickname) as replyNickname,
        a.title as articleTitle,
        c.content,
        c.create_time
        FROM
        b_comment c
        LEFT JOIN ( SELECT id, user_info_id FROM b_user ) u ON c.user_id = u.id
        LEFT JOIN ( SELECT id, avatar, nickname FROM b_user_info ) au ON u.user_info_id = au.id
        LEFT JOIN ( SELECT id, title FROM b_article ) a ON c.article_id = a.id
        LEFT JOIN ( SELECT id, user_info_id FROM b_user ) ru ON c.reply_user_id = ru.id
        LEFT JOIN ( SELECT id, avatar, nickname FROM b_user_info ) rau ON ru.user_info_id = rau.id
        <where>
            <if test="keywords != null and keywords != ''">
                au.nickname like concat('%',#{keywords},'%') or rau.nickname like concat('%',#{keywords},'%')
            </if>
        </where>
        order by c.create_time desc
    </select>


    <select id="selectCommentPage" resultType="com.bsdlzg.blog.vo.ApiCommentListVO">
        select c.*, ui.nickname as nickname, ui.web_site as webSite, ui.avatar as avatar
        from b_comment c
                 left join b_user u on c.user_id = u.id
                 left join b_user_info ui on u.user_info_id = ui.id
        where c.article_id = #{articleId}
          and c.parent_id is null
        order by c.create_time desc
    </select>

</mapper>
